.button {
  height: 2.25rem;
  border-radius: 0.75rem;
  color: white;
  padding-inline: 1rem;
  background: linear-gradient(180deg, #575757 -6.13%, #262626 108.02%);
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset,
    0px -3px 3px 0px #000 inset;
  border: none;
  cursor: pointer;
}
