body {
  margin: 0;
  background: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
}
